# Gradle
.gradle/
**/build/
local.properties

# Kotlin / Native
**/*.klib
**/*.framework
**/*.dSYM

# Android
**/*.apk
**/*.aab

# iOS / Xcode
Pods/
*.xcworkspace
DerivedData/

# IDE
.idea/
*.iml

# Logs
*.log
